# Strapi
Strapi-app/.env
Strapi-app/.tmp/
Strapi-app/.cache/
Strapi-app/node_modules/
Strapi-app/public/uploads/
Strapi-app/dist/

# Docker
*.log
docker-compose.override.yml

# Terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform/
terraform/terraform.tfvars   # if you have secrets here

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
