version: "3.8"

services:
  strapi:
    container_name: strapi_app
    build: .
    ports:
      - "1337:1337"
    env_file:
      - .env
    volumes:
      - ./public:/app/public
      - ./uploads:/app/public/uploads
    restart: always
